#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig HTTP_FOTA_DL
	bool "HTTP application update sample"
	select NRF_DOWNLOAD_CLIENT
	select IMG_MANAGER
	select FLASH
	select FLASH_PAGE_LAYOUT
	select MPU_ALLOW_FLASH_WRITE

if (HTTP_FOTA_DL)

module=HTTP_FOTA_DL
module-dep=LOG
module-str=HTTP Firmware Over the Air Download
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # HTTP_FOTA_DL
