/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */


/ {
	chosen {
		zephyr,flash = &mram1x;
		zephyr,code-partition = &cpuapp_slot0_partition;
		zephyr,sram = &cpuapp_data;
	};
};
