#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Peripheral CPU DFU (PCD)"

menuconfig PCD
	bool "Peripheral CPU DFU Support"
	select FLASH_PAGE_LAYOUT
	select FLASH_BUFFERED_WRITE
	select TINYCRYPT
	select TINYCRYPT_SHA256

if (PCD)

config PCD_BUF_SIZE
	int
        default 2048 if BOARD_NRF5340_DK_NRF5340_CPUNET
	default 4096
	help
	  Must be <= the page size of the flash device.

module=PCD
module-dep=LOG
module-str=Peripheral Core DFU
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # PCD

endmenu
